body
{
    background-color: grey;
}
header, nav, footer
{
    padding-top: 40px;
    margin: 10px 180px 10px 180px;
    height: 60px;
    font-size: 15px;
    text-align: center;
    background-color: white;
    color: gray;
}
section
{
    padding-top: 40px;
    margin: 10px 10px 20px 180px;
    
    width: 900px;
    height: 300px;
    background-color: white;
    color: gray;
    font-size: 15px;
    text-align: center;
    float: left;
}
aside
{
    padding-top: 40px;
    margin: 10px 0px 20px 10px;
    height: 300px;
    width: 625px;

    background-color: white;
    color: gray;
    font-size: 15px;
    text-align: center;
    float: left;
}
article
{
    background-color: gray;
    color: white;
    height: 160px;
    padding: 30px 30px 30px 30px;
    margin: 50px 10px 10px 10px;
}
footer
{
    clear: both;
}
p
{
    background-color: white;
    color: gray;
    margin: 20px 10px 20px 10px;
    padding: 20px;
}